
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.33%;}
.col-6{width: 50.33%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.row::after{
    contant: '';
    clear: both;
    display: block;
    background-image: url(0_36LyKE7Qf-eeDDcJ.jfif);

}

[class*='col-']{
    float:left;
    box-sizing:border-box ;
    border: 1px solid white;
    

}

.header-height{
    height: 200px;
    background-color:white;
    text-align: center;

}

.logo-height{
    height: 200px;
    background-image: url(kisspng-computer-icons-aliexpress-font-5b2fdf3dd560a1.691421171529863997874.png);
background-size:cover;
}

.menu-height{
    height:50px ;
    background-color:rgb(236, 243, 240);

}

.content-height{
    height: 800px;
    background-image:url(21-macbook-pro-16-inch.jpg) ;
    background-color:rgb(112, 72, 72);


}
.big-footre-height{
    height: 300px;
    background-color:rgb(50, 240, 230);
 
}
.small-footer-height{
    height: 50px;
    background-color:rgb(84, 221, 20);
    background-image: url(Noor\ FOOD\ Forest.png);

}

.wrepper{
    width: 80%;
    margin: auto;
}